/* html, body, #root, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

/* body {
  touch-action: none;
} */
 

#app {
  position: relative;
  font-family: Montserrat, sans-serif;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
  background: transparent;
}

.hero {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  color: white;
  text-shadow: 0 0 20px black;
  margin: 0;
}